.title
{
  font-size: 60;
  font-style: italic;
  color: #FFFFFF;
}
.title2
{
  font-size: 15;
  font-style: normal;
  color: #FFFFFF;
}
.titles
{
  width: 2000px;
  background-color: #FF6600;
}
.signIn
{
  width: 1080px;
  height: 40px;
  background-color: #FF9900;
}
.signUp
{
  position: center;
  font-size: 20;
  font-weight: bold;
  color: #FF9900;
}
.subTitleBar
{
  width: 1080px;
  height: 40px;
  background-color: #FF9900;
}
.hidden
{
  width: 300px;
}
.publish
{
  background-color: #FF9900;
}
.button
{
  background-color: #FF6600;
  color: #FFFFFF
}
textarea
{
  resize: none;
}
